<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuctionSystem.UsingBlockChain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AuctionSystem.UsingBlockChain.Properties.Settings>
      <setting name="DeedAddress" serializeAs="String">
        <value>0xD5CdA80bf9c5f943c8e8D0482A44DF996A4DC610</value>
      </setting>
      <setting name="AuctionAddress" serializeAs="String">
        <value>0x0b2daB520303d802F511f4E300bB8AB9B1e41b54</value>
      </setting>
      <setting name="JsonRPCEndpoint" serializeAs="String">
        <value>https://ropsten.infura.io/v3/87d755a56b6149c69a2e570264858c44</value>
      </setting>
    </AuctionSystem.UsingBlockChain.Properties.Settings>
  </userSettings>
</configuration>
